<center>
<h1 class="plavi"> Hello <br/> World </h1>
</center>

<h1 class="plavi"> Hello World </h1>

<h1 id="zuti"> Hello World </h1>

<p class="zeleni"> Neki tekst u paragrafu </p>
<p class="zeleni"> Neki tekst u paragrafu </p>
<p class="zeleni"> Neki tekst u paragrafu </p>
<p class="plavi"> Neki tekst u paragrafu </p>
<p class="plavi"> Neki tekst u paragrafu </p>

<hr/>
<ul>
<li> prvi </li>
<li> drugi </li>
<li> treci </li>
</ul>

<ol>
<li> prvi </li>
<li> drugi </li>
</ol>

<table>

<tr>
<th> ponedjeljak </th>
<th> utorak </th>
<th> srijeda </th>
</tr>

<tr>
<td> podatak 1 </td>
<td> podatak 2 </td>
<td> podatak 3 </td>
</tr>

<tr>
<td> podatak 1 </td>
<td> podatak 2 </td>
<td> podatak 3 </td>

</tr>

</table>

<img src="http://metro-portal.rtl.hr/img/repository/2010/06/medium/shutterstock_sunce_oluja.jpg">


<style>

.plavi {
    color: blue;
}
.zeleni{
    color: green;

}
#zuti {
    color: yellow;
}

img {
    border: 2px solid black;
    margin-left: 100px;
    padding-top: 200px;

}
</style>